<responsive-table class="character-table">
    <table class="table-striped">
        <thead>
            <tr>
                <th scope="col">🧑‍🦽 Character</th>
                <th scope="col">Class</th>
                <th scope="col">Level</th>
                <th scope="col">Session XP Bonus</th>
            </tr>
        </thead>
        <tbody>
            {% for character in site.data.characters %}
                {% assign session = character.sessions | where: "session_number", session_number | first %}
                {% if session %}
                    <tr>
                        <td>{{ character.name }}</td>
                        <td>{{ character.class }}</td>
                        <td>{{ character.level }}</td>
                        <td>{{ session.xp_bonus }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</responsive-table>