
.award {
    width: 20em;
    border-radius: 1em;
    border-width: 1;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.bad-smell {
    background-color: rgb(123, 170, 35);
}

.bane-of-happy-families { 
    background-color: grey;
}