$torch-colour: rgb(255, 81, 0);
$spell-colour: rgb(133, 10, 125);

$warning-colour: rgb(221, 22, 22);

$rest-bg: rgb(122, 22, 221);
$rest-fg: rgb(221, 165, 22);

#durations {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;

    .duration-torch {
        background-color: white;
        color: $torch-colour;
        border-color: $torch-colour;
        border-radius: 1em;
    }

    .duration-spell {
        background-color: white;
        color: $spell-colour;
        border-color: $spell-colour;
        border-radius: 1em;
    }
}

#encounter-modal {
    background-color: $warning-colour;
}

#rest-modal {
    background-color: $rest-bg;
    color: $rest-fg;
}